# Mixpanel 프로젝트 토큰. 비워두면 이벤트는 콘솔에만 로그되고 전송되지 않습니다.
NEXT_PUBLIC_MIXPANEL_TOKEN=

# 카카오 개발자 콘솔(https://developers.kakao.com) > 내 애플리케이션 > 앱 키의 "JavaScript 키".
# 비워두면 지도 탭에 안내 화면만 뜨고 지도는 표시되지 않습니다.
NEXT_PUBLIC_KAKAO_MAP_KEY=
